<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smhrd.mapper.TB_UserMapper">

    <insert id="goJoin2" parameterType="kr.smhrd.entity.TB_User">
        INSERT INTO tb_user (user_id, user_pw, user_nick, user_birthdate, user_phone, user_addr, user_account)
        VALUES (#{user_id}, #{user_pw}, #{user_nick}, #{user_birthdate}, #{user_phone}, #{user_addr}, #{user_account})
    </insert>

    <select 
        id="goLogin" 
        parameterType="kr.smhrd.entity.TB_User"
        resultType="kr.smhrd.entity.TB_User"
    >
        SELECT * FROM tb_user WHERE user_id = #{user_id} AND user_pw = #{user_pw}
    </select>
    
    <update id="updateUser" parameterType="kr.smhrd.entity.TB_User">
        UPDATE tb_user 
        SET user_pw = #{user_pw}, user_nick = #{user_nick}, user_birthdate = #{user_birthdate}, 
            user_phone = #{user_phone}, user_addr = #{user_addr}, user_account = #{user_account}
        WHERE user_id = #{user_id}
    </update>
    
      <select id="getUserById" parameterType="string" resultType="kr.smhrd.entity.TB_User">
        SELECT * FROM tb_user WHERE user_id = #{userId}
    </select>
    
    
    

</mapper>